*{
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;

    background-color: #102542;
    text-align: center;


}

nav ul{
    list-style-type: none;
    padding: 50px;


}


ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 100px;
    border: 2px solid #cccccc;

    text-transform: uppercase;
}

a.active, a:hover{
    background-color: #fff;
    color: #000;
    transition: .5s;

}

label {
    margin: 0 40px 0 0;
    font-size: 25px;
    line-height: 30px;
    display: none;
    float: right;
}

#toggle{
    display: none;
}
.wrapper{
    width: 100%;
    margin: 0 auto;

}
.flex-menu{
    display: flex;
}
.contactInformation{
    border: 2px solid black;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #6CBEED;

}

@media screen and (max-width: 1000px) {



    label{
        display: inline-block;
        cursor: pointer;}

label{
    display: block;
    cursor: pointer;}

    label{
        display: block;
        cursor: pointer;


    }
    ul li{
        text-align: center;
        width: 100%;





    }

    ul li a{
        display: block;
        border-bottom: 1px solid #ffffff;
        margin: 0;

    }

}


   











.container-1 div{
    border: 1px #ccc solid;
    padding: 10px;
    width: 60%;}

p {
    font-family: Bahnschrift;
    text-align: center;
    font-size: larger;

}
h1, h2 {
    font-family: Bahnschrift;
    text-align: center;
}
.useful-list{
    font-family: Bahnschrift;
    font-size: larger;
}









.box-2{
    flex: 1;

    background-color: lightblue;}







.box {
    border: 1px solid black;
    width: 200px;
    background-color: #6CBEED;
    padding: 15px;

}
.box-1 {
    border: 2px solid black;
    width: 800px;
    background-color: #6CBEED;
    padding: 20px;

}
box-2 {
    border: 2px solid black;
    width: 800px;
    background-color: #6CBEED;
    padding: 5px;
}
.box-wrapper-row {
    border: 2px solid black;
    width: 100%;
    margin-bottom:20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}
@media screen and (max-width: 430px) {

    label {
        display: block;
        cursor: pointer;

    }

    ul li {
        text-align: center;
        width: 100%;
    }

    ul li a {
        display: block;
        border-bottom: 1px solid #ffffff;
        margin: 0;

    }

    .flex-menu {
        display: flex;
        flex-direction: column;
    }

    .box-wrapper-row {
        border: 2px solid black;
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: white;

    }

    .box-1 {
        border: 1px solid black;
        width: 60%;
        background-color: #6CBEED;
        padding: 10px;


    }
}
@media screen and (min-width: 800px) {

}

